BODY
{
	margin : 0;
	padding : 0;
	background:rgba(0,150,0,1);
}

.titre
{
	text-align:center;
}

#quantite
{
	width:20px;
}


#vitrine
{
	position:absolute;
	margin : 10%;
	width:80%;
	min-height:800px;
	font-size:12px;
	overflow: auto;
}

.encadre
{
	display:inline-block;
	width:150px;
	height:150px;
	margin:10px
}

.encadre p
{
	text-align:center;
}

FOOTER
{
	position:fixed;
	bottom:0%;
	right:0%;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#FFF;
	background:#000;
}

NAV A
{
	display:inline-block;
	width:24%;
	color:white;
	text-decoration:none;
	text-align:center;
	line-height:30px;
}